h2 { margin-bottom: 40px; }

#fold { 
  background: linear-gradient(rgba(0, 106, 246, 0.75), rgba(0, 106, 246, 0.75)), url(homeslider5.jpg);
  background-size: cover;
  background-attachment: fixed;
}

  #fold .content h1 { margin-bottom: 10px; }

  #fold .content p { font-size: 32px; }

.half { margin-bottom: 40px; }

  /* there's 5 questions, make the last one full width */
  .half:last-of-type { width: 100%; }

@media (min-width: 320px) and (max-width: 720px) {
  section .register-button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
  }
}