#fold {
  /* Visual */
  background: linear-gradient(rgba(0, 106, 246, 0.75), rgba(0, 106, 246, 0.75)), url(faqshomepagepic.jpg); 
  background-position: center;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 720px) {
  .thirds, .half { margin-bottom: 40px }
}