/* 
 * First Section of the Homepage 
 */
#fold {
  /* Visual */
  background-attachment: fixed;
  /* technically a hack, can't use solid colors to overlay an image, but a linear gradient will work */
  background: linear-gradient(rgba(0, 106, 246, 0.75), rgba(0, 106, 246, 0.75)), url(homeslider4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

  #fold .content h1 { margin-bottom: 10px; }

  #fold .content p { font-size: 32px; }

@media (min-width: 320px) and (max-width: 720px) {
  .is-countdown
  .countdown-show4 .countdown-section {
    width: 49.4%;
    margin-bottom: 0;
  }
  
  #fold .content p { font-size: 26px; }
  
  #fold .register-button {
    margin-top: 40px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}