h1 { padding-bottom: 30px; }

/* style of the links in each of the sections. styling the visited the same way so that its not purple */
a:link.date, a:visited.date {
  /* Box Model */
  display: table;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 2%;
  width: 98%;
  
  /* Visual */
  border-radius: 4px;
  color: rgba(255, 255, 255, 1.0);
  
  /* Typography */
  text-align: left;
  text-decoration: none;
}

a:hover.date, .jump-prov-item:hover { background-color: rgba(214, 0, 10, 1.0); }

  /* layout of the text */
  span.date, span.info {
    /* Box Model */
    display: inline-block;
    float: left;
    width: 25%;
  }

    span.info { width: 73%; }

/*
 * Sections
 */

/* each province section */
.britishcolumbia { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(britishcolumbia.jpg); }
.alberta         { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(alberta.jpg); }
.manitoba        { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(manitoba.jpg); }
.saskatchewan    { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(saskatchewan.jpg); }
.ontario         { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(ontario.jpg); }
.novascotia      { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(novascotia.jpg); }
.quebec          { background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), url(quebec.jpg); }

  #fold p {
    /* Box Model */
    margin-bottom: 30px;
    /* Typography */
    font-size: 32px;
  }

/*
 * Province Navigation
 */

/* have a centered navigation */
.jump-prov .container {
  /* Box Model */
  display: table;
  margin: 0 auto;
  width: 100%;
}

  /* style of province anchor */
  .jump-prov-item {
    /* Box Model */
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* Visual */
    border-radius: 4px;
  }

    /* use background image so that resize them in a square won't stretch them */
    .jump-prov-item-img { 
      background-position: center;
      background-size: cover;
      width: 200px;
      height: 200px;
      border-radius: 2px;
    }

      /* images */
      .jump-prov-item-img.bc { background-image: url(britishcolumbia.jpg); }
      .jump-prov-item-img.ab { background-image: url(alberta.jpg); }
      .jump-prov-item-img.mb { background-image: url(manitoba.jpg); }
      .jump-prov-item-img.sk { background-image: url(saskatchewan.jpg); }
      .jump-prov-item-img.on { background-image: url(ontario.jpg); }
      .jump-prov-item-img.ns { background-image: url(novascotia.jpg); }
      .jump-prov-item-img.qb { background-image: url(quebec.jpg); }

    .jump-prov-item a:link { text-decoration: none; }
    .jump-prov-item a:visited { color: rgba(255,255,255,1.0); }

/*
 * Form styling
 */

fieldset {
  /* Box Model */
  padding-top: 10px;
  padding-bottom: 10px;
  /* Visual */
  border: none;
}

label {
  /* Box Model */
  display: inline-block;
  margin-right: 2%;
  /* Typography */
  text-align: right;
}

input, select {
  /* Box Model */
  width: 100%;
  padding: 10px;
  /* Visual */
  background-color: rgba(255, 255, 255, .5);
  border: none;
  box-sizing: border-box;
}

input:hover { background-color: rgba(255, 255, 255, 0.75); }

input:focus { background-color: rgba(255, 255, 255, 1.0); }
