/* Reset some basic elements */
body, h1, h2, h3, p, a, nav, section, div, footer {
    margin: 0;
    padding: 0;
}

/* --------------------------------- 
   Common Styles for the Entire Site 
   --------------------------------- */
body {
  width: 100%;
  color: rgba(255, 255, 255, 1.0);
}

h1, .countdown-amount {
  font-family: 'Changa One', sans-serif;
  font-size: 64px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  
}

h3 {
  font-family: 'Rokkitt', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: none;
}

p, .countdown-period {
  font-family: 'Rokkitt', serif;
  font-size: 24px;
  line-height: 1.25;
}

a:link { color: rgba(255, 255, 255, 1.0); }

a:visited, #links p a:visited, nav a:visited { color: rgba(255, 255, 255, 0.5); }

a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

a:active { background-color: rgba(255, 255, 255, 0.3); }

/* -------------- 
   Navbar Styling 
   -------------- */
nav {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 106, 246, 0.75);
}

  nav div, footer .container {
    /* Box model */
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

    nav a:link, .register-button {
      /* Box Model */
      display: inline-block;
      margin-right: 20px;
      min-width: 100px;
      padding: 20px;
      vertical-align: middle;

      /* Typography */
      font-family: 'Changa One', sans-serif;
      font-size: 24px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      /* Visual */
      border-radius: 4px;
    }

    nav #home-button {
      width: 200px;
      height: 100px;
    }

    .register-button {
      margin-right: 0;
      background-color: rgba(214, 0, 10, 1.0);
    }

/* ----------------------------- 
   First Section of the Homepage 
   ----------------------------- */
#fold {
  /* Box Model */
  padding-top: 220px;
  
  /* Visual */
  background: linear-gradient(rgba(0, 106, 246, 0.75), rgba(0, 106, 246, 0.75)), url(homeslider4.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}

  #fold .content {
    /* Box Model */
    width: 75%;
    margin: 0 auto;

    /* Typography */
    text-align: center;
  }

    #fold .content h1 { margin-bottom: 10px; }

    #fold .content p { font-size: 32px; }

    #fold .content .register-button { margin-bottom: 80px; }

/* ---------------------------- 
   Footer Section of Each Page. 
   ---------------------------- */

footer  {
  width: 100%;
  min-height: 100vh; 
  background-color: rgba(0, 0, 0, 1.0);
}

  /* So that content is not underneath the navbar */
  footer .container { padding-top: 220px; }

    #contact, #insta, #links {
      display: inline-block;
      margin-right: 60px;
      margin-bottom: 60px;
      max-width: 320px;
      vertical-align: top;
    }

      #phone, #email { 
        display: table;
        margin-top: 5px;
        margin-bottom: 5px;
      }

        #phone p, #email p {        
          display: table-cell;
          padding-left: 10px;
          vertical-align: middle;
        }

      #insta img, #links img {
        width: 100px;
        height: 100px;
        float: left;
        margin: 10px 10px 0px 0px;
      }

      #insta a:nth-of-type(3n) img { margin-right: 0px; }

      #links { margin-right: 0; }